
#socials-links ul li {
  cursor: pointer;
}

#nav-cnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 20px;
  font-family: "Oswald";
  font-size: 18px;
  font-weight: 700;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.482);
}
a {
  text-decoration: none;
  color: #fff;
}

#nav-cnt ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

#nav-cnt li {
  cursor: pointer;
  padding: 5px 10px;
}

#nav-cnt li:hover a {
  color: #5a7f5f;
  background-image: url(../images/borda-rasgada.png);
}

.has-drop {
  position: relative;
}

.menu-drop {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 1000;
  width: 220px;
  height: auto;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.menu-drop ul {
  display: flex;
  flex-direction: column;
  height: 400px;
  padding: 40px;
  background-color: #fff;
  line-height: 0px;
}

.menu-drop li {
  font-family: "Crimson Text";
  font-style: italic;
  font-size: 18px;
  font-weight: 500;
  color: #878787;
}

.has-drop:hover .menu-drop {
  color: #f6f6f6;
  background-color: #878787;
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);
  transition: all 0.3s ease-in-out;
}

#span-info-1 {
  display: flex;
  gap: 20px;
  font-family: "Crimson Text";
  font-size: 18px;
  color: white;
}

#span-info-2 {
  display: flex;
  gap: 30px;
  font-family: "Crimson Text";
  font-size: 24px;
  color: white;
}


#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 80vh;
  background: transparent;
  color: white;
}

#hero h1 {
  font-family: "Oswald";
  font-size: 54px;
  margin-bottom: 20px;
}

#hero p {
  width: 530px;
  font-family: "Mulish";
  font-size: 18px;
  text-align: center;
}

#hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 54px;
}

.arrow-left {
  position: absolute;
  top: 30%;
  left: 0;
  cursor: pointer;
}

.arrow_left:before {
  content: "\23";
}

.arrow_right:before {
  content: "\24";
  font-size: 40px;
}

.arrow-rigth {
  position: absolute;
  top: 30%;
  right: 0;
  cursor: pointer;
}

.divisor {
  position: absolute;
  top: -190px;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.divisor-items{
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.divisor img {
  width: 100%;
}

.divisor-top-img img {
  top: 0;
  left: 0;
}

button {
  width: 157px;
  padding: 10px 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Oswald";
  font-size: 20px;
  color: white;
  background-color: #5a7f5f;
  border: none;
  cursor: pointer;
}

#sponsor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#sponsor ul {
  display: flex;
  list-style: none;
  gap: 120px;
}

#sponsor img {
  transition: opacity 0.5s ease-in-out;
}

#sponsor img:hover {
  opacity: 0.5;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Oswald";
  margin-top: 100px;
}

.title h1 {
  font-size: 50px;
}

.title > span {
  font-family: "Crimson Text";
  font-style: italic;
  font-size: 21px;
  color: #878787;
}

#travel-tips-span {
  font-size: 50px;
  color: #5a7f5f;
}


.travel-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 0px 180px;
  margin-top: 100px;
  transform-style: preserve-3d;
}

.travel-ctn h1 {
  font-family: "Oswald";
  font-size: 29px;
}

.travel-ctn p {
  font-family: "Crimson Text";
  font-size: 16px;
  color: #878787;
}

.travel-ctn .img-ctn img {
  width: 600px;
  height: 100%;
}

.text-ctn-travel {
  width: 420px;
}


#newsletter-subs {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 40px 90px;
  margin-top: 100px;
 
}

#newsletter-subs h1 {
  font-family: "Oswald";
  font-size: 42px;
}

#newsletter-subs p {
  font-family: "Mulish";
  font-size: 18px;
  font-weight: 600;
  color: #878787;
  margin-top: 10px;
}

#newsletter-subs input {
  height: 57px;
  padding: 20px;
  margin-right: 10px;
  font-family: "Crimson Text";
  font-style: italic;
  font-size: 18px;
  color: #878787;

  border: none;
  outline: none;
}

#newsletter-subs button {
  width: 200px;
  height: 57px;
  font-family: "Oswald";
  font-size: 18px;
  font-weight: bold;
  color: #f6f6f6;
  background-color: #5a7f5f;
  border: none;
  cursor: pointer;
}

#newsletter-subs-text {
  padding: 90px 0 30px 30px;
}

#newsletter-subs-text > span {
  font-family: "Crimson Text";
  font-style: italic;
  font-size: 19px;
  color: #878787;
}

#newsletter-span {
  font-family: "Oswald";
  font-size: 42px;
  font-weight: bold;
  color: #5a7f5f;
}


#posts-carossel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#blog-post-ctn {
  padding: 40px;
}

.post-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: start;
  transform-style: preserve-3d;
}

.post-card img {
  width: 400px;
}

.post-card h1 {
  width: 350px;
  font-family: "Oswald";
  font-size: 29px;
}

.badge-sale {
  position: absolute;
  top: 18px;
  left: -20px;
  z-index: 10;
  width: 170px;
  padding: 5px 10px;
  font-family: "Crimson Text";
  font-style: italic;
  font-size: 18px;
  color: #878787;
  background-color: #f2f2ea;
  transform: translateZ(40px);
}
#travel-info span {
  font-family: 'Crimson Text';
  font-style: italic;
  font-size: 1
}

.span-travel-blog {
  display: inline;
  margin: 30px 0 10px 0;
  font-family: "Crimson Text";
  font-size: 16px;
  color: #878787;
}

.image-ctn img {
  transition: all 0.3s ease-in-out;
}


.icon::before {
  content: "\f3ae\f3ae\f3ae\f3ae\f3ae";
  font-size: 20px;
  letter-spacing: 2px;
}

.ion-ios-star {
  font-size: 20px;
  letter-spacing: 2px;
  color: #878787;
}

.arrow_up_alt:before {
  content: "\e039";
}
.icon_tags::before {
  content: "\e07c";
}
.icon_map_alt:before {
  content: "\e01f";
}
.icon_search:before {
  content: "\55";
}
.icon_pencil_alt:before{
 content: "\6a";
} 
#men-li {
  background-image: url(/assets/images/);
}



#items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
  text-align: center;
}

#items-container span {
  font-size: 21px;
}

.item {
  display: flex;
  flex-direction: column;
}

.item img {
  width: 100%;
}

.item span {
  margin-top: 50px;
  font-family: "Crimson Text";
  font-style: italic;
  font-size: 16px;
  color: #1e1e1e;
}

.item h1 {
  font-family: "Oswald";
}



#about h2 {
  font-family: "Oswald";
  font-size: 22px;
}

#about p {
  width: 200px;
  font-size: 16px;
  color: #b9b9b9;
}

#about button {
  width: 200px;
  background-color: transparent;
}

#about-p {
  margin-top: 20px;
  font-family: "Mulish";
  font-weight: 600;
}


#forms-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

#forms-container > input {
  margin-top: 20px;
}

#forms-container input {
  padding: 20px 15px;
  font-family: "Crimson Text";
  font-style: italic;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border: none;
  border-left: 1px solid #b9b9b9;
  border-bottom: 1px solid #b9b9b9;
  outline: none;
}

#forms-container input::placeholder {
  color: rgba(255, 255, 255, 0.878);
}

#forms-container button {
  width: auto;
  padding: 0;
  font-size: 16px;
}

#forms-container i {
  margin-left: 6px;
}


#footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  text-align: start;
}

#footer-top img {
  width: 150px;
}

#footer-top p {
  width: 814px;
  font-size: 25px;
  font-style: italic;
  color: #b9b9b9;
}


 

#news-ctn {
  margin-top: 20px;
}

#news-ctn span {
  color: #5a7f5f;
}

#news-ctn i {
  margin-right: 7px;
}

#news-ctn p {
  margin-top: 15px;
  font-size: 18px;
}

@media (max-width: 1024px) {
  #nav-cnt {
    gap: 20px;
    padding: 15px;
  }

  #nav-cnt ul {
    gap: 15px;
  }

  .travel-ctn {
    padding: 0 40px; 
  }

  .travel-ctn .img-ctn img {
    width: 100%; 
    height: auto;
  }

  #footer-top {
    padding: 0 20px;
    gap: 30px;
  }

  #footer-top p {
    width: 100%;
    font-size: 20px;
  }
}
@media (max-width: 768px) {
 
  #nav-cnt {
    flex-direction: column;
    height: auto;
    display: none;
  }
  #span-info-2 span{
    background-color: #5a7f5f;
  }
  .divisor {
    top: 2px;
  }
  .title h1,
  span {
    font-size: 30px !important;
  }
  #nav-cnt ul {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  #hero h1 {
    font-size: 32px;
    text-align: center;
  }

  #hero p {
    width: 90%; 
  }

  .arrow-left,
  .arrow-rigth {
    display: none; 
    
  }

  #sponsor ul {
    flex-direction: column;
    gap: 30px;
    justify-content: center;
  }


  .travel-ctn {
    flex-direction: column ; 
    
    text-align: start;
  }
  .travel-ctn span {
    font-size: 15px !important;
  }

  .travel-ctn .text-ctn-travel {
    width: 100%;
    margin-left: 0 !important;
  }
  #newsletter {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }

  #newsletter-subs {
    flex-direction: column;
    padding: 20px;
    text-align: start;

  }

  #newsletter-subs-text {
    padding: 20px 0;
    text-align: start;
  }

  #newsletter-subs input {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  #newsletter-subs img {
    width: 100%;
  }

  footer {
    display: none !important;
  }
  #posts-carossel {
    flex-direction: column;
    align-items: center;
  }

  .post-card img {
    width: 100%;
  }

  .post-card h1 {
    width: 100%;
    font-size: 22px;
  }

  /* Items / Shoes */
  #items-container {
    flex-direction: column;
  }

  .item img {
    width: 300px;
  }

  #about {
    
    display: none;
  }

  #forms-container {
    align-items: center;
  }
}
